h1 {
	text-align: center;
	margin-top: 20px;
}

table {
    width: 70%;
    height: 50px;
    alingn:center;
    border: 2;
	/*以上补充css*/
	border-collapse: collapse;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th {
	background-color: #4CAF50;
	color: white;
	font-weight: bold;
	padding: 10px;
}

td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}