body {
    background-image: url('../img/LemonCocktail.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.select-box {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #555;
  }  

.product-image {
    width: 100%;
    height: 300px; /* 调整图片高度 */
    object-fit: cover; /* 图片裁剪方式，保持宽高比并填充容器 */
}

.product-price {
    font-weight: bold;
    color: red;
}

.product-card {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}